body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* box-shadow  */
img {
    box-shadow: 15px 5px 5px red;
}

/* drop-shadow  */
/* img {
    filter: drop-shadow(15px 5px 5px red);
} */